= form_for @milestone do |f|
  - if @milestone.errors.any?
    #error_explanation.alert.alert-danger
      %h2
        #{pluralize(@milestone.errors.count, 'error')} prohibited this milestone from being created:
      %ul
        - @milestone.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .form-row
      .col-md-10
        Reward users for reaching 
        = f.text_field :threshold, placeholder: '1000', value: exact_converted_display_of_threshold(@milestone, current_user)
        = f.select :metric, milestone_metrics_select_values(current_user)
  .form-group
    .form-row
      .col-md-10
        = f.label :tagline
        = f.text_field :tagline, placeholder: "Peak Pusher"
  .form-group.d-flex
    %div
      = f.label :badge
      = f.file_field :badge
    - if @milestone.badge.attached?
      = image_tag @milestone.badge, class: 'milestone-badge'

  = f.submit 'Submit', class: 'btn btn-primary btn-block'
