.card.card-register.mx-auto.mt-5
  .card-header Take the Pledge
  .card-body
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-group
        %strong Got a Strava account?
        = link_to "Sign up through Strava", user_strava_omniauth_authorize_path, class: 'btn btn-strava btn-block'
        %small.form-text.text-muted Note: you are only eligible to win prizes if you sign up using Strava.
      %h4.text-center
        OR
      = render "devise/shared/error_messages", resource: resource
      = render partial: 'users/shared/user_fields', locals: { f: f, include_password: true }
      = f.submit 'Sign up', class: 'btn btn-primary btn-block'

    = render 'devise/shared/links'
