#fb-root
  %script
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=254460291246256';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

%nav.navbar.navbar-light.bg-light.navbar-expand-md.fixed-top
  %a.navbar-brand{ href: '#' }#carfreechallenge
  %btn.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#landingNavLinks' } }
    %span.navbar-toggler-icon
  #landingNavLinks.collapse.navbar-collapse
    %ul.nav.navbar-nav
      = link_to 'What', '#what', class: 'nav-link'
      = link_to 'Who', '#who', class: 'nav-link'
      = link_to 'How', '#how', class: 'nav-link'
      = link_to 'Share', '#share', class: 'nav-link'
      = link_to 'FAQ', '#faq', class: 'nav-link'
    = render 'layouts/user_navigation'

%header#landing_header.bg-image-full.py-5.align-items-center.flex-column.justify-content-center.d-flex.min-100.mb-0.landing-image-1
  .header-text.align-items-center.flex-column.justify-content-center.d-flex
    %h1.display-2 #carfreechallenge
    %p.text-center Put your money where your mouth is and pledge to recreate outdoors without driving.
    = render partial: 'layouts/social_links'

%section#what.py-5
  .container
    %h1 What is the #carfreechallenge?
    %p
      Outdoor sports enthusiasts are often also environmentalists. We want to protect the world
      we play in, and part of that is doing what we can to combat climate change.
      Unfortunately, the pursuit of adventure sports often involves a lot of travel,
      both on a large scale -- international trips -- and on a daily basis (your drive to the trailhead).
      Join me in pledging to minimize the carbon impact of our recreation in 2018 by finding adventures
      close to home and using alternative methods of transit!
    %p
      Different sports might require different metrics -- if you're a road biker or sea kayaker,
      you might want to use miles. As a mountain biker, skier, trail runner, and kayaker,
      I'm pledging to gain at least 150,000 feet of elevation without driving my car in 2018.
      Join me by
      = link_to 'signing up', new_user_registration_path
      and setting your own goals!

%section.py-5.bg-image-full.landing-image-2
  &nbsp;

%section#who.py-5
  .container
    %h1 Who's doing it?
    .container
      .row
        .col-md-4
          .card
            .card-header Adventurers
            .card-body
              %h3.numberCircle.bg-primary.text-white
                #{@summary[:users]}
        .col-md-8
          .card
            .card-header Vertical Gain (feet)
            .card-body.text-center.p-0
              %h1
                .badge.badge-info #{number_with_delimiter(@summary[:vertical_gain_sum].to_i)} / #{number_with_delimiter(@summary[:vertical_gain_goal].to_i)}
            %hr.my-0
            .card-body.bg-success.text-white
              .progress
                .progress-bar.bg-primary{ style: "width: #{@summary[:vertical_gain_sum] * 100 / @summary[:vertical_gain_goal]}%;" }
            %hr.my-0
            .card-header Distance (miles)
            .card-body.text-center.p-0
              %h1
                .badge.badge-info #{number_with_delimiter(@summary[:distance_sum].to_i)} / #{number_with_delimiter(@summary[:distance_goal].to_i)}
            %hr.my-0
            .card-body.bg-success.text-white
              .progress
                .progress-bar.bg--primary{ style: "width: #{@summary[:distance_sum] * 100 / @summary[:distance_goal]}%;" }

%section.py-5.bg-image-full.landing-image-3
  &nbsp;

%section#how.py-5
  .container
    %h1 How can I join?
    %p
      The simplest way to join is to
      = link_to 'sign up', new_user_registration_path
      here. You can set goals, update progress and share with friends.
    %p
      You can also use the hashtag
      %strong #carfreechallenge
      on social media to help spread the message!
    %p
      If you're on Strava, we're building an integration so that your activities can be automatically tracked here. You can
      = link_to 'sign up with Strava', user_strava_omniauth_authorize_path
      or link your existing user account later. Then, just mark your carbon neutral activities with the hashtag
      %strong #carfreechallenge
      in the title and we'll find them automatically and tally them towards your goals.

%section.py-5.bg-image-full.landing-image-4
  &nbsp;

%section#share.py-5
  .container
    %h1 Share
    %p
      .fb-share-button{ data: { href: 'http://www.thecarfreechallenge.com', layout: 'button' } }
      on Facebook and use the
      %strong #carfreechallenge
      hashtag on Instagram or other social media! Once you've signed up and created a goal,
      you can share that directly from the app, as well.

%section.py-5.bg-image-full.landing-image-5
  &nbsp;

%section#faq.py-5
  .container
    %h1 FAQ
    %h4 But I live in X...I can't get outside without driving!
    %p
      Fair enough! We can't all live in Jackson (who can afford to anyway!), but I bet there are a lot of
      adventures you can find close to home. We'll be adding some tools for finding local adventures to the website,
      but here are a few ideas to get you started:
      %ul
        %li
          = link_to 'Strava', 'http://www.strava.com'
          is like an internet guidebook. There are helpful features like heatmaps and flybys to help you find
          what other adventurers are doing in your area, and you can search activities with keywords to try to find
          things in a particular area.
        %li
          = link_to 'Caltopo.', 'http://www.caltopo.com'
          Nothing beats a good old fashioned map! Caltopo has some great tools for working with maps
          and a number of excellent base tiles to choose from.
        %li
          = link_to 'GaiaGPS', 'https://www.gaiagps.com'
          is my favorite mobile map application with great topo maps and an extensive knowledge of trails and roads
          (even old decommissioned ones).
        %li
          = link_to 'Instagram.', 'http://www.instagram.com'
          It pains me a little to say this, but browsing Instagram can be a great way to discover new, local spots.
    %h4 But really though. I can't find anything that doesn't involve driving.
    %p
      = mail_to 'nick@thecarfreechallenge.com', 'Email me'
      and I will personally help you find adventures close to home.
    %h4 What counts as "car free?"
    %p
      Great question. The short answer is, it's up to you -- this is all voluntary and self-reporting.
      For the purposes of the challenge, I'm saying
      %strong no driving.
      Meaning, you can't drive your car and you can't carpool with a friend. Mass transit is good to go -- you'd be
      surprised what awesome places subways, trains, and busses can get you to!
    %p
      Along those lines, things like gondolas, lifts, etc. are ok, but you can't count them towards your goal.
      In other words, 4 laps off the tram at Jackson is 0' towards the challenge. But if you take the tram up
      and spend your whole day earning turns in Granite Creek, that can count, as long as you didn't
      drive to the mountain.

%section.py-5
  .container
    %p.text-small
      This website and campaign were created by
      = succeed '.' do
        = link_to 'Nick Gottlieb', 'http://www.nicholasgottlieb.com'
      He's pledging to gain 150,000 vertical feet without driving this year.
      
