#fb-root
  %script
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=254460291246256';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

%nav.navbar.navbar-light.bg-light.navbar-expand-md.fixed-top
  = link_to root_path, class: 'navbar-brand' do
    = image_tag 'cfc-logo.png', alt: '#CarFreeChallenge'
  %btn.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#landingNavLinks' } }
    %span.navbar-toggler-icon
  #landingNavLinks.collapse.navbar-collapse
    .d-flex.flex-column.flex-sm-row.justify-content-between.w-100
      %ul.nav.navbar-nav.order-12.order-sm-0
        = link_to 'What', '#what', class: 'nav-link'
        = link_to 'Who', '#who', class: 'nav-link'
        = link_to 'How', '#how', class: 'nav-link'
        = link_to 'Share', '#share', class: 'nav-link'
        = link_to 'FAQ', '#faq', class: 'nav-link'
      .order-0.order-sm-12
        = render 'layouts/user_navigation'
%header#landing_header.bg-image-full.py-5.min-100.mb-0.landing-image-1

%section#what.py-5
  .container
    %h1 What is the BAR-U-EAT #CarFreeChallenge?
    %p
      The pursuit of adventure sports often involves travel, but
      we're here to let you know that there's adventure just steps beyond your front door!
    %p
      With the climate quickly changing and altering the way we live and play, there's
      no better way to preserve our fun and protect our planet than stepping outside and
      taking advantage of the area you live in!
    %p
      So join us in pledging to minimize the carbon impact of our recreation by finding
      adventures close to home and leaving your car parked!
    %p
      = link_to 'Sign up', new_user_registration_path
      and set your own #CarFreeChallenge goals today!

%section.py-5.bg-image-full.landing-image-2
  &nbsp;

%section#who.py-5
  .container
    %h1 Who's participating?
    .container
      .row
        .col-md-12
          .card
            .card-header Leaderboard
            .card-body
              = render partial: 'home/leaderboard'
        .col-md-12
          .card
            .card-header #CarFreeChallenge Participants
            .card-body.text-center.p-0
              %h1
                .badge.text-primary= @summary[:users]
            %hr.my-0
            .card-header
              Emissions Avoided
              = surround "(", ")" do
                %a{ href: "#", data: { toggle: "tooltip" }, title: "The average passenger vehicle emits 404 grams per mile." } ?
            .card-body.text-center
              %h1
                .badge.text-primary= emissions_given_distance(@summary[:distance_sum])
            %hr.my-0
            .card-header Vertical Gain (feet)
            .card-body.text-center.p-0
              %h1
                .badge.text-primary #{number_with_delimiter(@summary[:vertical_gain_sum].to_i)} / #{number_with_delimiter(@summary[:vertical_gain_goal].to_i)}
            %hr.my-0
            .card-body.bg-primary.text-white
              .progress
                .progress-bar.bg-secondary{ style: "width: #{@summary[:vertical_gain_sum] * 100 / @summary[:vertical_gain_goal]}%;" }
            %hr.my-0
            .card-header Distance (miles)
            .card-body.text-center.p-0
              %h1
                .badge.text-primary #{number_with_delimiter(@summary[:distance_sum].to_i)} / #{number_with_delimiter(@summary[:distance_goal].to_i)}
            %hr.my-0
            .card-body.bg-primary.text-white
              .progress
                .progress-bar.bg-secondary{ style: "width: #{@summary[:distance_sum] * 100 / @summary[:distance_goal]}%;" }

%section.py-5.bg-image-full.landing-image-3
  &nbsp;

%section#how.py-5
  .container
    %h1 How can I join?
    %p
      Sign up with Strava or link your existing user account later. Then, mark your
      carbon neutral activities with the hashtag #CarFreeChallenge in the title and
      we'll automatically tally them towards your goals!
    %p
      You can set goals, update progress, win awards for hitting milestones, and share with friends.
    %p
      You can also use the hashtag #CarFreeChallenge on social media to help spread the message!
    %p.text-center
      = link_to 'SIGN UP HERE!', new_user_registration_path, class: "btn btn-strava"

%section.py-5.bg-image-full.landing-image-4
  &nbsp;

%section#share.py-5
  .container
    %h1 Share
    %p
      Share your adventures with the Car-Free Challenge community by using the hashtag #CarFreeChallenge on
      = succeed ',' do
        = link_to 'Instagram', 'https://www.instagram.com/barueat/'
      = succeed ',' do
        = link_to 'TikTok', 'https://www.tiktok.com/@barueat'
      and
      = succeed '.' do
        = link_to 'Strava', 'https://www.strava.com/clubs/1056991'
      Don't forget to sign up for the
      = link_to 'BAR-U-EAT Collective on Strava', 'https://www.strava.com/clubs/1056991'
      for exclusive deals, prizes, and events!

%section.py-5.bg-image-full.landing-image-5
  &nbsp;

%section#faq.py-5
  .container
    %h1 FAQ
    %h4 But I live in X...I can't get outside without driving!
    %p
      Fair enough! We can't all live in Jackson, but there are a lot of adventures you can find close to home.
      Here are a few ideas to get you started:
      %ul
        %li
          = link_to 'Strava', 'http://www.strava.com'
          is like an internet guidebook. There are helpful features like heatmaps and flybys to help you find
          what other adventurers are doing in your area, and you can search activities with keywords to try to find
          things in a particular area.
        %li
          = link_to 'Caltopo.', 'http://www.caltopo.com'
          Nothing beats a good old fashioned map! Caltopo has some great tools for working with maps
          and a number of excellent base tiles to choose from.
        %li
          = link_to 'GaiaGPS', 'https://www.gaiagps.com'
          is my favorite mobile map application with great topo maps and an extensive knowledge of trails and roads
          (even old decommissioned ones).
        %li
          = link_to 'Instagram.', 'http://www.instagram.com'
          Browsing Instagram can be a great way to discover new, local spots or get ideas on what other people are
          doing! Follow the hashtag #CarFreeChallenge and
          = link_to '@barueat', 'https://www.instagram.com/barueat/'
          to see what our community is up to!
    %h4 But really though. I can't find anything that doesn't involve driving.
    %p
      = mail_to 'nick@thecarfreechallenge.com', 'Email us'
      and we will personally help you find adventures close to home.
    %h4 What counts as "car free?"
    %p
      Great question. The short answer is, it's up to you -- this is all voluntary and self-reporting.
      For the purposes of the challenge, I'm saying
      %strong no driving.
      Meaning, you can't drive your car and you can't carpool with a friend. Mass transit is good to go -- you'd be
      surprised what awesome places subways, trains, and busses can get you to!
    %p
      Along those lines, things like gondolas, lifts, etc. are ok, but you can't count them towards your goal.
      In other words, 4 laps off the tram at Jackson is 0' towards the challenge. But if you take the tram up
      and spend your whole day earning turns in Granite Creek, that can count, as long as you didn't
      drive to the mountain.

%section.py-5.bg-image-full.landing-image-6
  &nbsp;

%section.py-5
  .container
    .flex-column.justify-content-center.d-flex.align-items-center
      %h4.pb-4 Powered by
      = link_to 'http://barueat.com/' do
        = image_tag 'barueat-logo.png', class: 'barueat-logo'    

%section.py-5
  .container
    .flex-column-.justify-content-center.d-flex.align-items-center
      = render partial: 'layouts/social_links'
