.form-group
  = f.label :email
  = f.email_field :email, autofocus: true, class: 'form-control',
    placeholder: 'Enter email'
.form-group
  = f.label :name
  = f.text_field :name, class: 'form-control',
    placeholder: 'Enter name'
.form-group.d-flex
  %div
    = f.label :avatar
    = f.file_field :avatar
  - if @user.avatar.attached?
    .user-avatar= image_tag rails_blob_url(@user.avatar)
.form-group
  = f.label :measurement_system
  .form-control
    = f.radio_button :measurement_system, 'imperial_system'
    = f.label :measurement_system, 'Miles and feet', value: 'imperial_system'
    .float-right
      = f.radio_button :measurement_system, 'metric_system'
      = f.label :measurement_system, 'Kilometers and meters', value: 'metric_system'
