%header.d-flex.justify-content-between
  %h2 Edit Account
  - unless current_user.is_strava_user?
    = link_to user_strava_omniauth_authorize_path do
      = image_tag "btn_strava_connectwith_orange.svg", alt: "Connect with Strava"
.row
  .col-md-12
    = form_for @user do |f|
      - if @user.errors.any?
        #error_explanation.alert.alert-danger
          %h2
            #{pluralize(@user.errors.count, 'error')} prohibited this
            account from being saved:
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      = render partial: 'users/shared/user_fields', locals: { f: f, include_password: false }
      = f.submit 'Update', class: 'btn btn-primary btn-block'
