!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Take the #CarFreeChallenge'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Take the #CarFreeChallenge'}"}
    %meta{ property: 'og:title', content: 'Take the #CarFreeChallenge' }
    %meta{ property: 'og:description', content: "#{@user.name} #{User::ACHIEVEMENTS[@achievement.to_sym]}" }
    %meta{ property: 'og:image', content: asset_url("achievements/#{@achievement}.png") }
    %meta{ property: 'og:url', content: share_achievement_url(id: @user.id, achievement: @achievement) }
    %meta{ property: 'og:type', content: 'website' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.bg-dark
    %div#fb-root
    %script
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .container
      .card.mx-auto.mt-5.text-center
        .card-header
          #{@user.name} is taking the
          = succeed '!' do
            %strong #CarFreeChallenge
        %section
          = image_tag("achievements/#{@achievement}.png")
        .card-body
          %h4
            #{@user.name} #{User::ACHIEVEMENTS[@achievement.to_sym]}
          = link_to 'Join them!', new_user_registration_path, class: 'btn btn-primary btn-block'
          = link_to 'Learn more', root_path, class: 'btn btn-info btn-block'
          - if user_signed_in?
            .fb-share-button{ data: { href: share_achievement_url(id: @user, achievement: @achievement), layout: "button" }}
