!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Take the #CarFreeChallenge'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Take the #CarFreeChallenge'}"}
    %meta{ property: 'og:title', content: 'Take the #CarFreeChallenge' }
    %meta{ property: 'og:description', content: "#{@user.name} has #{milestone_achievement_verb(@milestone)} human-powered #{friendly_display_of_threshold(@milestone, @user)}." }
    %meta{ property: 'og:image', content: @milestone.badge.attached? ? polymorphic_url(@milestone.badge) : asset_url("landing-pg-1") }
    %meta{ property: 'og:url', content: share_milestone_url(id: @user.id, milestone_id: @milestone.id) }
    %meta{ property: 'og:type', content: 'website' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.bg-dark
    %div#fb-root
    %script
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .container
      .card.mx-auto.mt-5.text-center
        .card-header
          #{@user.name} is taking the
          = succeed '!' do
            %strong #CarFreeChallenge
        - if @milestone.badge.attached?
          %section
            = image_tag @milestone.badge
        - else
          %section.bg-image-full.landing-image-1
        .card-body
          %h4
            #{@user.name} has #{milestone_achievement_verb(@milestone)} #{friendly_display_of_threshold(@milestone, @user)} without driving!
          = link_to 'Join them!', new_user_registration_path, class: 'btn btn-primary btn-block'
          = link_to 'Learn more', root_path, class: 'btn btn-info btn-block'
          - if user_signed_in?
            .fb-share-button{ data: { href: share_milestone_url(id: @user, milestone_id: @milestone.id), layout: "button" }}
