%section
  = render partial: "home/leaderboard"
  .card
    .card-header #CarFreeChallenge Participants
    .card-body.text-center.p-0
      %h1
        .badge.text-primary= @summary[:users]
    %hr.my-0
    .card-header
      Total Carbon Offset
    .card-body.text-center
      %h1
        .badge.text-primary= emissions_given_distance(@summary[:distance_sum])
    %hr.my-0
    .card-header Total Vertical Gain
    .card-body.text-center.p-0
      %h1
        .badge.text-primary= display_vert(@summary[:vertical_gain_sum])
    %hr.my-0
    .card-header Total Distance
    .card-body.text-center.p-0
      %h1
        .badge.text-primary= display_distance(@summary[:distance_sum])
