- if current_user.goals.empty? and current_user.activities.empty?
  %section.mb-4
    .row
      .col-lg-12
        .card.mb-3
          .card-header Getting Started
          .card-body
            %ol
              %li
                Set a goal for car-free vertical gain or distance by clicking
                = link_to "+ Set a Goal", new_goal_path, class: 'btn btn-info btn-sm'
              %li
                - if current_user.is_strava_user?
                  Log activities on Strava with the text "#carfreechallenge" in the title
                - else
                  = link_to "Log activities", activities_path
                  (or
                  = succeed ')' do
                    = link_to user_strava_omniauth_authorize_path do
                      = image_tag "btn_strava_connectwith_orange.svg", alt: "Connect with Strava"
              %li
                Share your goals  with your friends using the "Share" button next to your goal
              %li
                Share your adventures on
                = link_to 'Instagram', 'https://www.instagram.com/carfreechallenge/'
                and
                = link_to 'Facebook', 'https://www.facebook.com/carfreechallenge/'
                with the hashtag #CarFreeChallenge

%section.mb-4
  .row.mb-4
    .col-lg-4
      .card
        .card-header= current_user.name
        .card-body.user-avatar.d-flex.align-items-center
          - if current_user.avatar.attached?
            = image_tag current_user.avatar 
    .col-lg-8
      .card.mb-4
        .card-header Activities Logged
        .card-body.text-center
          %h1
            .badge.text-primary= current_user.activities.count
      .card.mb-4
        .card-header
          Emissions Avoided
          = surround "(", ")" do
            %a{ href: "#", data: { toggle: "tooltip" }, title: "The average passenger vehicle emits 404 grams per mile." } ?
        .card-body.text-center
          %h1
            .badge.text-primary= emissions_given_distance(current_user.activities.sum(:distance))
      .card
        .card-header
          Your Goals
          = link_to '+ Set a Goal', new_goal_path, class: 'btn btn-info float-right'
        - current_user.goals.each do |g|
          .card-body{ class: "goal-#{g.id}" }
            .row
              .col-lg-8
                %p
                  %strong= g.converted_total
                  car-free
                  %strong= g.metric_label
                  - if g.start_date.present?
                    between
                    %strong= g.start_date.strftime("%b %d, %Y")
                    and
                  - else
                    by
                  %strong= g.end_date.try(:strftime,"%b %d, %Y")
              .col-lg-4
                .btn-group
                  = link_to 'Share', goal_path(g), class: 'btn btn-success btn-sm'
                  = link_to 'Edit', edit_goal_path(g), class: 'btn btn-warning btn-sm'
                  = link_to 'Delete', goal_path(g), class: 'btn btn-danger btn-sm', method: :delete
            .row
              .col-sm-12.progress-bar-container
                .progress
                  = progress_bar(g)
  .row
    .col-lg-12
      .card
        .card-header Badges Earned
        .card-body.d-flex.justify-content-between
          - current_user.milestones.each do |m|
            = render partial: 'milestones/badge', locals: { milestone: m }
