%section
  .card.mb-4
    .card-header #CarFreeChallenge Participants
    .card-body.text-center
      %h1
        .badge.text-primary= @summary[:users]
  .card.mb-4
    .card-header
      Emissions Avoided
      = surround "(", ")" do
        %a{ href: "#", data: { toggle: "tooltip" }, title: "The average passenger vehicle emits 404 grams per mile." } ?
    .card-body.text-center
      %h1
        .badge.text-primary= emissions_given_distance(@summary[:distance_sum])
  .card.mb-4
    .card-header Vertical #{current_user.metric_system? ? 'Meters' : 'Feet'}
    .card-body.text-center.p-0
      %h1
        .badge.text-primary #{number_with_delimiter(@summary[:vertical_gain_sum].to_i)} / #{number_with_delimiter(@summary[:vertical_gain_goal].to_i)}
    %hr.my-0
    .card-body.bg-primary.text-white
      .progress
        .progress-bar.bg-secondary{ style: "width: #{@summary[:vertical_gain_sum] * 100 / @summary[:vertical_gain_goal]}%;" }
  .card.mb-4
    .card-header #{current_user.metric_system? ? 'Kilometers' : 'Miles'}
    .card-body.text-center.p-0
      %h1
        .badge.text-primary #{number_with_delimiter(@summary[:distance_sum].to_i)} / #{number_with_delimiter(@summary[:distance_goal].to_i)}
    %hr.my-0
    .card-body.bg-primary.text-white
      .progress
        .progress-bar.bg-secondary{ style: "width: #{@summary[:distance_sum] * 100 / @summary[:distance_goal]}%;" }
