.card.card-login.mx-auto.mt-5
  .card-header Login
  .card-body
    %p
      = link_to 'Login with Strava', user_strava_omniauth_authorize_path, class: 'btn btn-block btn-strava'
    %h4.text-center
      OR
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: 'form-control',
          placeholder: 'Enter email'
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: 'off', class: 'form-control',
          placeholder: 'Password'
      
      - if devise_mapping.rememberable?
        .form-group
          .form-check
            = f.check_box :remember_me
            = f.label :remember_me
      = f.submit 'Login', class: 'btn btn-primary btn-block'
    = render 'devise/shared/links'
