.row
  .col-12
    = link_to '+ Log an activity', new_activity_path, class: 'float-md-right btn btn-success'
    - if current_user.is_strava_user?
      #import_button.float-md-right
        = link_to "Import Activities From Strava", trigger_import_path,
          class: "btn btn-strava text-small #{current_user.import_in_progress? ? 'importing disabled' : '' }",
          remote: true
    %h1 Log Your Progress
    - if current_user.is_strava_user?
      .card.mb-3
        .card-header How to Use #carfreechallenge With Strava
        .card-body
          %p
            It's really easy to log activities and progress since you already use Strava.
            Just add the hash tag
            %strong #carfreechallenge
            to the title of any applicable activities on Strava and they'll show up here
            and count towards your goals.
.card.mb-3
  .card-header Progress Log
  .card-body
    .table-responsive
      %table.table.table-bordered#activityTable
        %thead
          %th Date Logged
          %th Activity Date
          %th= Goal.metric_label('distance', current_user.measurement_system).titlecase
          %th= Goal.metric_label('vertical_gain', current_user.measurement_system).titlecase
          %th Sport
        %tbody
          - @activities.each do |act|
            %tr{ class: "activity-#{act.id}" }
              %td= act.created_at.try(:strftime,"%m-%d-%Y")
              %td= act.activity_date.try(:strftime,"%m-%d-%Y")
              %td= act.converted_distance
              %td= act.converted_vertical_gain
              %td= act.sport
