.row
  .col-12
    = link_to '+ Log an activity', new_activity_path, class: 'float-md-right btn btn-success'
    - if current_user.is_strava_user?
      #import_button.float-md-right
        = link_to "Import Activities From Strava", trigger_import_path,
          class: "btn btn-strava #{current_user.import_in_progress? ? 'importing disabled' : '' }"
    %h1 Log Your Progress
    - if current_user.is_strava_user?
      .card.mb-3
        .card-header How to Use #carfreechallenge With Strava
        .card-body
          %p
            It's really easy to log activities and progress since you already use Strava.
            Just add the hash tag
            %strong #carfreechallenge
            or
            %strong #cfc
            to the title of any applicable activities on Strava and they'll show up here
            and count towards your goals.
          %p
            When you login here, we automatically send a request to Strava to retrieve activities.
            You can also manually import by clicking the button above -- that will
            enqueue a background process to import your activities. You'll have to refresh to see them.
.card.mb-3
  .card-header Progress Log
  .card-body
    .table-responsive
      %table.table.table-bordered#activityTable
        %thead
          %th Activity Date
          %th Title
          %th Sport
          %th= Goal.metric_label('distance', current_user.measurement_system).titlecase
          %th= Goal.metric_label('vertical_gain', current_user.measurement_system).titlecase
          %th
        %tbody
          - @activities.each do |act|
            %tr{ class: "activity-#{act.id}" }
              %td= act.activity_date.try(:strftime,"%m-%d-%Y") || act.created_at.strftime("%m-%d-%Y")
              %td
                = act.name
                - if act.provider == "strava"
                  %strong.text-small
                    = surround '(', ')' do
                      = link_to "View on Strava", "https://www.strava.com/activities/#{act.external_id}"
              %td= act.sport
              %td= act.converted_distance
              %td= act.converted_vertical_gain
              %td
                = link_to 'Edit', edit_activity_path(act),
                  class: "btn btn-warning btn-sm edit-activity-#{act.id}"
                - if act.provider.present?
                  - confirm_message = "You can delete Strava activities here, but they'll |
                      be reimported unless you remove the #carfreechallenge hashtag on Strava" |
                - else
                  - confirm_message = "Are you sure?"
                = link_to 'Delete', activity_path(act), method: :delete,
                  class: "btn btn-danger delete-activity-#{act.id} btn-sm",
                  data: { confirm: confirm_message }
