%h1 + Log Progress
.card.card-block.bg-light
  .card-body
    This isn't meant to be an activity tracker app, but you can use it however you want. You can log every
    activity here (though if you do that, I'd recommend just signing up for
    = link_to 'Strava', 'http://www.strava.com'
    instead), or you can keep track elsewhere and just log vertical gain and/or distance
    here as often as you want your progress to update. You don't need a one-to-one correlation
    between activities and "progress" here, it's just for tracking your effort towards your goal.

%hr

.row
  .col-12
    = form_for @activity do |f|
      %h4 Required Stuff
      .form-group
        .form-row
          .col-md-4
            = f.text_field :distance, placeholder: '25', class: 'form-control'
            = f.label :distance, Goal.metric_label('distance', current_user.measurement_system)
          .col-md-4
            = f.text_field :vertical_gain, placeholder: '1000', class: 'form-control'
            = f.label :vertical_gain, Goal.metric_label('vertical_gain', current_user.measurement_system)
          .col-md-4
            %small.form-text.text-muted (both are allowed, but at least one is required)
      %hr
      %h4 Optional Fields
      .form-group
        .form-row
          .col-md-4
            = f.date_field :activity_date, class: 'form-control'
            = f.label :activity_date
          .col-md-4
            = f.text_field :sport, class: 'form-control'
            = f.label :sport
      = f.submit 'Submit', class: 'btn btn-primary btn-block'
