- if user_signed_in?
  %ul.navbar-nav.navbar-sidenav.bg-primary
    %li.nav-item{ class: (action_name == 'dashboard' ? 'active' : '') }
      = link_to 'Dashboard', dashboard_path, class: 'nav-link'
    %li.nav-item{ class: (controller_name == 'activities' ? 'active' : '') }
      = link_to 'Log Your Progress', activities_path, class: 'nav-link'
    %li.nav-item{ class: (action_name == 'site_wide_stats' ? 'active' : '') }
      = link_to 'Site-wide Stats', site_wide_stats_path, class: 'nav-link'
    %li.nav-item
      = link_to 'Browse Milestones', milestones_path, class: 'nav-link'
    %li.nav-item{ class: (action_name == 'help' ? 'active' : '') }
      = link_to 'Help', help_path, class: 'nav-link'
    %li.nav-item#appSocialLinks
      = render 'layouts/social_links'
      = image_tag "api_logo_cptblWith_strava_horiz_white.svg", alt: "Compatible with Strava", class: 'cptbl-with-strava-image'